/* custom css */

.progWidth-10 {
    width: 10%;
}
.progWidth-20 {
    width: 20%;
}
.progWidth-40 {
    width: 40%;
}
.progWidth-55 {
    width: 55%;
}
.progWidth-60 {
    width: 60%;
}
.progWidth-80 {
    width: 80%;
}
.progWidth-100 {
    width: 100%;
}